@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --varPrimaryColor: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--varPrimaryColor);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;    
}

.container {
    max-width: 640px;
    margin: 50px auto;         /*Define margina somente para topo e inferior e laterais automáticas*/
    background: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
}

.container h2 {
    margin-top: 20px;
}

.parametros {
    display: flex;
    margin: 20px 100px 20px 0px;
    align-items: center;
    justify-content: space-between;
}

form {
    margin: 20px 0 0 0;
}



div {
    margin-top: 10px;
    margin-bottom: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--varPrimaryColor)
}

form button {
    border: none;
    background: var(--varPrimaryColor);
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {                         /*são estados*/
    background: var(--primary-color-darker);
}

form button:active {
    background: red;
}

.paragrafo-resultado, .bad {                  /*esta classe está sendo criada e inserida no html pelo js*/
    background: rgb(109, 255, 182);
    border-radius: .25rem;
    padding: 10px 20px;
}

.bad {
    background: rgb(255, 150, 150)
}